<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OKCasa Admin</title>
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
</head>

<body id="reportsPage">
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand">
                    <!--<h1 class="tm-site-title mb-0">TerraEvent Admin</h1>-->
                    <img src="static/img/Logo.png" alt="logo" width="70px" height="70px">
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <i class="fas fa-tachometer-alt"></i>
                                Inicio
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="location.href='cuentas';">>
                                <i class="far fa-user"></i>
                                Cuentas
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item" style="color: white">
                            Bienvenido @admin<a class="btn btn-danger" id="button-addon2" onclick="location.href='login';">Cerrar
                                Sesion</a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
        <div class="container">
            <!-- row -->
            <div class="row tm-content-row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-block tm-block-taller tm-block-overflow" style="background-color: 	#801418">
                        <h2 class="tm-block-title">Solicitud de inspecciones</h2>
                        <div class="tm-notification-items">
                            <div class="media tm-notification-item" style="background-color: #870203;">
                                <div class="media-body">
                                    <p class="mb-2">
                                        <b>Jessica</b> and <b>6 others</b> sent you new
                                        <a href="#" class="tm-notification-link">product updates</a>. Check new orders.
                                    </p>
                                    <span class="tm-small tm-text-color-secondary">6h ago.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-block tm-block-taller tm-block-overflow"
                        style="background-color:#801418;">
                        <h2 class="tm-block-title" style="color: white">Carga de Reportes</h2>
                        <div class="row row-items">
                            <div class="col-12">
                                <label for="" style="color: white"> Rut Cliente: </label>
                                <input type="text" placeholder="Ej: 99.999.999-2" class="form-control">
                            </div>
                            <div class="col-12">
                                <label for="" style="color: white"> Reporte</label>
                                <label class="lbl"> Cargar documento
                                        <input type="file" size="60" >
                                        </label> 
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-danger">Cargar Reporte </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll" >
                        <h2 class="tm-block-title">Lista de inspecciones</h2>
                        <table class="table" style="background-color: #a10808;">
                            <thead style="background-color: #b10202;">
                                <tr>
                                    <th scope="col">Nro. Orden</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Ubicacion</th>
                                    <th scope="col">Inspectores</th>
                                    <th scope="col">Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"><b>#122349</b></th>
                                    <td>
                                        <div class="tm-status-circle moving">
                                        </div>Realizada
                                    </td>
                                    <td><b>Providencia,CL</b></td>
                                    <td>Inspector Pedro</td>
                                    <td>08:00, 1 MAR 2019</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122348</b></th>
                                    <td>
                                        <div class="tm-status-circle pending">
                                        </div>Pendiente
                                    </td>
                                    <td><b>Santiago Centro, CL</b></td>
                                    <td>Inspector Gadget</td>
                                    <td>04:00, 14 ABR 2019</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122347</b></th>
                                    <td>
                                        <div class="tm-status-circle cancelled">
                                        </div>Cancelada
                                    </td>
                                    <td><b>San Pedro de Atacama, CL</b></td>
                                    <td>Inspector Fred </td>
                                    <td>06:00, 2 MAY 2019</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122346</b></th>
                                    <td>
                                        <div class="tm-status-circle moving">
                                        </div>Realizada
                                    </td>
                                    <td><b>Las condes,CL</b></td>
                                    <td>Inspector Nate</td>
                                    <td>09:00, 13 MAY 2019</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122345</b></th>
                                    <td>
                                        <div class="tm-status-circle pending">
                                        </div>Pendiente
                                    </td>
                                    <td><b>Calama,CL</b></td>
                                    <td>Inspector Fran</td>
                                    <td>09:00, 28 MAY 2019</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122344</b></th>
                                    <td>
                                        <div class="tm-status-circle pending">
                                        </div>Pendiente
                                    </td>
                                    <td><b>La Reina,CL</b></td>
                                    <td>Inspector Nemo </td>
                                    <td>06:00, 4 JUN 2019</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122343</b></th>
                                    <td>
                                        <div class="tm-status-circle moving">
                                        </div>Moving
                                    </td>
                                    <td><b>London, UK</b></td>
                                    <td>12:00, 10 OCT 2018</td>
                                    <td>08:00, 18 OCT 2018</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122342</b></th>
                                    <td>
                                        <div class="tm-status-circle moving">
                                        </div>Moving
                                    </td>
                                    <td><b>London, UK</b></td>
                                    <td>15:30, 06 OCT 2018</td>
                                    <td>09:30, 16 OCT 2018</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2019</b> All rights reserved.

                </p>
            </div>
        </footer>
    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{% static 'js/moment.min.js' %}"></script>
    <!-- https://momentjs.com/ -->
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="{% static 'js/tooplate-scripts.js' %}"></script>
    <script>
        Chart.defaults.global.defaultFontColor = 'white';
        let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart;
        barChart, pieChart;
        // DOM is ready
        $(function () {
            drawLineChart(); // Line Chart
            drawBarChart(); // Bar Chart
            drawPieChart(); // Pie Chart

            $(window).resize(function () {
                updateLineChart();
                updateBarChart();
            });
        })
    </script>
</body>

</html>