<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OKCasa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900"> 
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}" type="text/css">  
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"> 
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
    
    <div class="site-navbar-wrap">
      <div class="site-navbar">
        <div class="container py-1">
          <div class="row align-items-center">
            <div class="col-2">
              <h1 class="mb-0 site-logo"><a onclick="location.href='inicio';"><img src="static/img/Logo.png" alt="Logo" width="70px" height="70px"></a></h1>
            </div>
            <div class="col-10">
              <nav class="site-navigation text-right" role="navigation">
                <div class="container">
                  <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
                  <div class="site-menu js-clone-nav d-none d-lg-block input-group-append">
                    <a class="btn btn-danger" type="button" id="button-addon2" style="color: white" onclick="location.href='login';">Inicio Sesion</a>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-blocks-cover overlay" style="background-image: url(static/img/hero_bg_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center text-center justify-content-center">
          <div class="col-md-8">
            <span class="sub-text">Compañia de inspeccion</span>
            <h1>OkCasa</h1>
          </div>
        </div>
      </div>
    </div>  
    <div class="site-section  border-bottom">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
            <div class="media custom-media">
              <div class="mr-3 icon"><span class="flaticon-interior-design display-4"></span></div>
              <div class="media-body">
                <h5 class="mt-0">Quienes somos</h5>
                Somos una empresa dedicada a la inspeccion de terrenos para la edicifacion de casa con la más alta calidad
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
            <div class="media custom-media">
              <div class="mr-3 icon"><span class="flaticon-step-ladder display-4"></span></div>
              <div class="media-body">
                <h5 class="mt-0">Inspecciones</h5>
                Se realizara una revision del terreno, para asegurr la calidad correspondiente de los usuarios
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
            <div class="media custom-media">
              <div class="mr-3 icon"><span class="flaticon-turned-off display-4"></span></div>
              <div class="media-body">
                <h5 class="mt-0">Contacto</h5>
                  Correo: inspecciones@okcasa.cl 
                  Telefono: +562 23769834
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="img-border">
              <img src="static/img/img_3.jpg" alt="Image" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-5 ml-auto">
            <span class="sub-title">¿Porque Nosotros?</span>
            <h2 class="font-weight-bold text-black mb-5">Nuestros servicios</h2>
            <div class="accordion" id="accordionExample">
              
              <h2 class="mb-0 border rounded mb-2">
                <button class="btn " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  1. ¿Que hacemos?
                </button>
              </h2>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <p>Inspeccionamos el terreno en el cual se construiran las futuras viviendas, con esto damos a las personas la seguridad de invertir en una vivienda de ese sitio</p>
                </div>
              </div>
            
              <h2 class="mb-0 border rounded mb-2">
                <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  2. ¿Como lo hacemos?
                </button>
              </h2>
             
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <p>Contamos con los implementos necesarios para inspeccionar en detalle los distintos terrenos solicitados por los clientes</p>
                </div>
              </div>
           
              <h2 class="mb-0 border rounded mb-2">
                <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  3. ¿Donde lo hacemos?
                </button>
              </h2>
              
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <p>Nuestros equipos de inspección estan preparados y disponibles para realizar las revisiones necesarias en el terreno que desee</p>
                </div>
              </div>

              <h2 class="mb-0 border rounded mb-2">
                <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  4. ¿Cuando lo hacemos?
                </button>
              </h2>

              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                  <p>Contamos con una amplia agenda, para que nuestros inspectores puedan realizar su labor en los tiempos que usted estime convenientes.</p>
                </div>
              </div>
             
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="site-section site-block-3 bg-light">
      <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="font-weight-bold text-black mb-5">Especificacion de servicio</h2>
              </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="img-border">
              <img src="static/img/img_2.jpg" alt="Image" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row row-items">
              <div class="col-6">
                <a class="d-flex text-center feature active p-4 mb-4 bg-white">
                  <span class="align-self-center w-100">
                    <span class="d-block mb-3">
                      <span class=" display-3"></span>
                    </span>
                    <h3>Inspeccion de cableado</h3>
                  </span>
                </a>
              </div>
              <div class="col-6">
                <a class="d-flex text-center feature active p-4 mb-4 bg-white">
                  <span class="align-self-center w-100">
                    <span class="d-block mb-3">
                      <span class="flaticon-sit-down display-3"></span>
                    </span>
                    <h3>Inspeccion de terreno</h3>
                  </span>
                </a>
              </div>
            </div>
            <div class="row row-items last">
              <div class="col-6">
                <a class="d-flex text-center feature active p-4 mb-4 bg-white">
                  <span class="align-self-center w-100">
                    <span class="d-block mb-3">
                      <span class="flaticon-turned-off display-3"></span>
                    </span>
                    <h3>Inspeccion de infraestructura</h3>
                  </span>
                </a>
              </div>
              <div class="col-6">
                <a class="d-flex text-center active feature active p-4 mb-4 bg-white">
                  <span class="align-self-center w-100">
                    <span class="d-block mb-3">
                      <span class="flaticon-window display-3"></span>
                    </span>
                    <h3>Inspeccion de servicios basicos</h3>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer border-top">
      <div class="container">
        <div class="row" style="color: white">
          <div class="col-lg-6">
            <div class="mb-5" style="color: white">
              <h3 class="footer-heading mb-4">Medios de Contacto</h3>
              <div class="block-25">
                <ul class="list-unstyled">
                  <li class="mb-3">
                    <p style="color: white">Puedes ponerte en contacto con nosotros a traves de nuestro formulario de <a style="color: aqua" onclick="location.href='contacto';" class="d-flex">Contactos</a></p>
                    
                  </li>
                  <li class="mb-3">
                    <p style="color: white">Direccion: Av. mariano messa 875 blabla</p>
                  </li>
                  <li class="mb-3">
                      <h3 class="footer-heading mb-4">Siguenos en nuestras redes sociales</h3>

                      <div>
                        <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                      </div>
                  </li>
                </ul>
              </div>
            </div>
            
          </div>
          

          <div class="col-lg-6 mb-5 mb-lg-0">

            <div class="mb-5">
              <h3 class="footer-heading mb-2">Suscribete a nuestras noticias</h3>
              <p style="color: white">Mediante nuestra hoja informativa, enterate de nuestros avances.</p>

              <form action="#" method="post">
                <div class="input-group mb-3">
                  <input type="text" class="form-control border-white text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-danger" type="button" id="button-addon2">Enviar</button>
                  </div>
                </div>
              </form>

            </div>

          </div>
          
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          
        </div>
      </div>
    </footer>
  </div>

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
    
  </body>
</html>