<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900"> 
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css"> 
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}" type="text/css"> 
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/formularios.css' %}" type="text/css">
    <title>Iniciar Sesion</title>
</head>
<body>
        <div class="my-content" style="background-image: url(static/img/hero_bg_2.jpg)">
          <div class="container">
      
            <div class="row">
              <div class="col-sm-12">
                <h1 class="mb-0 site-logo"><a onclick="location.href='inicio';"><img src="static/img/Logo.png" alt="logo" width="70px" height="70px"></a></h1>
              </div>
            </div>
      
            <div class="row" >
              <div class="col-sm-6 col-sm-offset-3 myform-cont">
                <div class="myform-top">
                  <div class="myform-top-left">
                    <p>Digita tu usuario y contraseña:</p>
                  </div>
                  <div class="myform-top-right">
                    <i class="fa fa-key"></i>
                  </div>
                </div>
                <div class="myform-bottom">
                  <form method="POST" class="form-signin" id="login" action="user.html">
                    <div class="form-group">
                      <input type="text" name="username" placeholder="Usuario..." class="form-control" required>
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" placeholder="Contraseña..." class="form-control" required>
                    </div>
                    <button type="submit" class="mybtn" onclick="location.href='user';">Entrar</button>
                  </form>
                  <p>¿No tienes cuenta?, ¡Registrate!</p>
                  <button class="mybtn" onclick="location.href='registro';">Registrarse</button>
                  <button class="mybtn" onclick="location.href='admin';">Administrador</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </body>
</html>