<!DOCTYPE html>
<html lang="es-cl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro de usuario</title>
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/formularios.css' %}" type="text/css">
</head>

<body class="my-content" style="background-image: url(static/img/hero_bg_2.jpg)">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="mb-0 site-logo"><a onclick="location.href='inicio';"><img src="static/img/Logo.png"
                            alt="logo" width="70px" height="70px"></a></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 forma-cont">
                <div class="myform-top">
                    <div class="myform-top-left">
                        <h3>Regístrate en nuestro sitio.</h3>
                        <p>Ingresar datos personales:</p>
                    </div>
                    <div class="myform-top-right">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
                <div class="myform-bottom">
                    <form role="form" action="persona" method="post" id="registro">
                        {% csrf_token %}
                        <input type="hidden" id="id" name="id" value="">
                        <div class="form-group">
                            <input type="text" name="run" id="run" class="form-control" placeholder="Ingrese Run"
                                required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="nombre" id="nombre" class="form-control"
                                placeholder="Ingrese Nombre" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="apellido" id="apellido" class="form-control"
                                placeholder="Ingrese Apellido" required>
                        </div>
                        <div class="form-group">
                            <input type="date" name="FechaNacimiento" id="fNac" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="telefono" id="telefono" class="form-control"
                                placeholder="Ingrese Telefono" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="correo" id="correo"
                                placeholder="Ingrese correo">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="contrasenia" id="contrasenia"
                                placeholder="Ingrese Contraseña">
                        </div>
                        <button type="submit" class="mybtn" value="Registrar">Registrarme</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static '/js/jquery-3.3.1.js' %}"></script>
    <script src="{% static '/js/jquery.validate.js' %}"></script>
    <script src="{% static '/js/additional-methods.js' %}"></script>
    <script src="{% static '/js/bootstrap.js' %}"></script>
    <script src="{% static '/js/app.js' %}"></script>
</body>

</html>