<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/Estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <title>OkCasa Usuario</title>
</head>

<body>
    <div class="site-navbar-wrap" id="nav">
        <div class="site-navbar">
            <div class="container py-1">
                <div class="row align-items-center">
                    <div class="col-2">
                        <h1 class="mb-0 site-logo"><a><img src="static/img/Logo.png" alt="logo"
                                    width="70px" height="70px"></a></h1>
                    </div>
                    <div class="col-10">
                        <nav class="site-navigation text-right" role="navigation">
                            <div class="container">
                                <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3">
                                    <a href="#" class="site-menu-toggle js-menu-toggle text-white">
                                        <span class="icon-menu h3"></span>
                                    </a>
                                </div>
                                <div class="site-menu js-clone-nav d-none d-lg-block input-group-append"
                                    style="color: white">
                                    Bienvenido @user<a class="btn btn-danger" id="button-addon2"
                                    onclick="location.href='login';">Cerrar Sesion</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="site-hero overlay" style="background-image: url(static/img/hero_bg_2.jpg)">
        <div class="container">
            <div class="row site-hero-inner align-items-center">
                <div class="col-md-7 text-left ml-auto">
                    <h1 style="color: white">Aqui podras ver los reportes de tus inspecciones actuales y proceser a su pago en linea
                    </h1>
                    <div class="row">
                        <div class="col-lg-4">                    
                                <button class="btn btn-danger">Estado de inspeccion</button>
                        </div>
                        <div class="col-lg-4">
                            <button class="btn btn-danger">Descargar reporte</button>
                        </div>
                        <div class="col-lg-4">
                                <a href='https://www.flow.cl/btn.php?token=8btgpz5' target='_blank'>
                                    <img src='https://www.flow.cl/img/botones/btn-pagar-negro.png'>
                                </a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="site-section site-block-3 bg red">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="font-weight-bold mb-5" style="color: white">Solicitar una Inspeccion</h2>
                </div>
                <div class="col-lg-12">
                    <div class="row row-items">
                        <div class="col-6">
                            <label for=""> Ingrese Direccion a inspeccionar:</label>
                            <input type="text" placeholder="Av. Hola 123">
                        </div>
                        <div class="col-6">
                            <label for=""> Fecha deseada de visita:</label>
                            <input type="date" name="" id="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <button class="btn btn-danger">Enviar solicitud</button>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>